#wrapper {
    max-width: 1140px;
    max-height: 4050px;
    outline: 1px solid #cccccc;
    padding: -1px;
    margin: auto;
}
body {
    font-weight: 2000px;
}
/*first header*/
#header {
    height: 70px;
    background-color: #194277;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    padding-top: 35px;
}
.accept {
    background-color: #ffffff;
    float: none;
    width: 112px;
    height: 30px;
    border:  0px solid #194277;
    border-radius: 28px;
    color: #194277; 
    margin-left: 55px;
}
/*Header_big*/
#header_big {
    height: 800px;
    background-color: #4872FA;
    text-align: center;
    font-family: "Lato - Black" sans-serif;
    text-transform: uppercase;
    color: #ffffff;     
}
.circle { /*вместо круга с фотошопа+пропустил менюшку навигации*/
    width: 150px;
    height: 150px;
    border: 3px solid rgb(83,151,254);
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto; /*не нашел как опустить круг ниже на 110px*/
}
h1 {
    max-width: 700px;
    font-size: 38px;
    text-align: center;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto; /*метод центрирования верный?*/ 
}
.header_big_lorem {
    max-width: 700px;
    font-size: 12px;
    font-weight: 100;
    padding-left: 250px;
    padding-right: 250px;
    color: #ffffff;
}
.hire_mi {
    background-color: #ffffff;
    float: none;
    width: 200px;
    height: 55px;
    border:  0px solid #194277;
    border-radius: 28px;
    color: #4872FA; 
    margin-top: 80px;
}/*blue end*/

h2 {
    font-weight: 100;
    font-size: 34px;
    text-align: center;
    color: #4872FA;
}
#about_me {
    max-height: 405px;
    background-color:#ffffff;
    text-align: center;
    color: #3677fd;
    margin-top: 110px;
}
.about_me{
    max-width: 1140px;
    margin-top: 30px; 
    color: black;
    /*padding текста относительно ширины всей страницы отличается от макета?*/
}
#expert_in {
    background-color: #f1f8ff;
    max-width: 1170px;
    max-height: 1140px;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.expert_in_block {
    background-color: inherit;    
    float: left;
    width: 360px;
    height: 340px;
    margin: 0 10px 10px 10px;
    display: block; /* не понимаю еще до конца особенности поведения блочно-строчных элементов*/
}

h4 {
    font-size: 20px;
    color: #3677fd;
    text-transform: uppercase;
}
/* на лекции про это свойсво немного проясните где его стоит применять
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

.latest_work {
    width: 100%;
    height: 1120px;
    text-align: center;
    display: inline-block;
}

.latest_work_box {
    width: 359px;
    height: 269px;
    border: 10px solid #ffffff;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: block;
    float: left;
    margin-bottom: 31px;
}
.box_footer1 {
    height: 360px;
    background-color: #f1f8ff;
    text-align: center;
    padding-top: 100px;    
}
.client_logo {
    padding-top: 75px;
}
.box_footer2 {
    height: 247px;
    background-color: #4872FA;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
.ready {
    font-weight: 700;    
    padding-right: 65px;
}
